<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
</head>
<body>
<h1>Login</h1>
<div class="main-menu">
    <a href="reg">Registration</a>
    <a href="main">Main page</a>
    <a href="allUsers">Show all users</a>
</div>


<h2>Вхід в особистий кабінет</h2>
<form action="allUsers" method="post">
    <label>
        <input type="text" name="name" placeholder="Login">
    </label>
    <label>
        <input type="password" name="password" placeholder="Password">
    </label>
    <button type="submit">Увійти</button>
</form>


</body>
</html>
