<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Registration</title>
</head>
<body>
<h1>registration</h1>
<div class="main-menu">
    <a href="login">login</a>
    <a href="main">Main page</a>
    <a href="allUsers">Show all users</a>
</div>

<h2>Реєстрація</h2>
<form action="/reg" method="post">
    <label>
        <input type="text" name="name" placeholder="Login" value="">
    </label>
    <br>
    <label>
        <input type="email" name="email" placeholder="Email" value="">
    </label>
    <br>
    <label>
        <input type="password" name="password" placeholder="Password">
    </label>
    <br>
    <button type="submit">Зареєструватись</button>

</form>

</body>
</html>
